
.footer{
    height: 240px;

}
.footer-container{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content:space-between;

}
.footer-content{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:space-between;
}
.footer-content > img{
   height: 35px;
}
.footer-content > p{
 line-height: 20pt;    
}

.footer-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:space-around;
    text-align: left;
}
.footer-links > div > a{
    padding-left: 100px;
    font-weight: 400;
}
.footer-links > div > a:hover{
    color: var(--color-primary-default);
}


