/* ------ section 1 -> Hero ------ */

.heroSection{
    width: 100%;
    height: 650px;
    box-sizing: border-box;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.container-heroSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heroSection-content{
    width: 530px;
    height: 422px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heroSection-image{
    width: calc(100% - 550px);
    height: 100%;
    position: relative;

}
.heroSection-content > p{
    max-width: 435px;
}

.heroSection-content > div > button{
    margin-right: 40px;
}

.heroSection-image-card-1{
    position: absolute;
    top: -20px;
    left: -50px;
    width: 310px;
    height: 350px;
    z-index: 2;   
}

.heroSection-image-card-2{
    position: absolute;
    width: 290px;
    height: 330px;
    bottom: -70px;
    right: -70px;
    z-index: 2;
}

.imagen-chico{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: auto;
}