/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* ------ Navbar ------ */
@import url(../css/header.css);

/* ------ section 1 -> Hero ------ */
@import url(../css/section-hero.css);
/* ------ section 2 -> Clients ------ */
@import url(../css/section-client.css);
/* ------ section 3 -> Proyects     &      section 5 -> Services ------ */
@import url(../css/section-proyects&services.css);
/* ------ section 4 -> testimonial ------ */
@import url(../css/section-testimonial.css);
/* ------ section 6 -> CTA ------ */
@import url(../css/section-CTA.css);

/* ------ footer ------ */
@import url(../css/footer.css);

/* ------ proyect PAGE ------ */
@import url(../css/proyect-page.css);

/* ------ contact PAGE ------ */
@import url(../css/contact-page.css);






/* FORMATEO INCIAL  */
*, *::before, *::after, html{
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
    color: var(--color-neutral-medium);
    box-sizing: border-box;
}

/* VARIABLES */
:root{
    /*Color style*/
    --color-primary-default: #072AC8;
    --color-accent: #43DAFF;
    --color-primary-hover: #A2D6F9;
    --color-primary-tapped: #D1EDFF;
    --color-neutral-dark: #292E47;
    --color-neutral-medium: #6B708D;
    --color-neutral-light: #F2F4FC;
    --color-neutral-lightBlue: #ECF7FF;
    --color-secondary-1: #FFC600;
}


/*text styles*/
h1 {
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 24px;

}
h1,h2,h3,h4{
    font-weight: 700;
    color: var(--color-neutral-dark);
}
.bodyIntroText-medium{
    font-size: 24px;
    font-weight: 500;
    color: var(--color-neutral-dark);
}
.bodyIntroText-regular{
    font-size: 20px;
    font-weight: 400;
}
.headlineText-regular{
    font-size: 17px;
    font-weight: 400;
}
.headlineText-medium{
    font-size: 17px;
    font-weight: 500;
}
.caption1Text{
    font-size: 15px;
    font-weight: 400;
}
.caption2Text{
    font-size: 13px;
    font-weight: 400;
}



/* -- GENERAL -- */


body{
    margin: 0 auto;
    background-color: #F4F6FC;
}


.main{

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

/*clases para el body y sus contenedores tipo flex*/
.flex-container{

    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-item{
    width: 100%;
    max-width: 1099.36px;
}
.flex-item-2{
    width: calc(100% - 60px);
}
.btn{
    background-color: var(--color-primary-default);
    padding: 15px 36px;
    color: var(--color-neutral-light);
    border: none;
}
.input{
    background-color: var(--color-neutral-lightBlue);
    padding: 15px 36px;
    color: white;
    border:1px solid var(--color-neutral-lightBlue);
}
a, button{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
button:hover{
background-color: var(--color-neutral-dark);
}
/*class para NAV - enlace actual*/
.active{
    color: #0082f3 !important;
}
/* clase para desactivar enlaces */
.not-active { 
    pointer-events: none; 
    cursor: default; 
}

/* menu hamburguesa */
#toggle, .container-navbar label { 
    display: none;
    font-size: 30px;
    color: var(--color-primary-default);
}




/* ------------------ MEDIA QUERIES ----------------*/

 
/* Tablets en horizonal y escritorios peques
   ------------------------------------------------------------------------- */
   @media (max-width: 1090px) {
    .flex-item{
        width: 100%;
        max-width: none;
        padding: 10px;
    } 


/* menu colapsado */
    .navbar {
        height: 118px;
    }
    .container-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 52px;
    }
    .container-navbar{
        position: relative;
    }
    .container-navbar label{
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        position: absolute;
        top: 70px;
    } 
    .menu a {
        position:relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        background-color: #F4F6FC;
        font-size: 1.3rem;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .navbar-btn{
        visibility: hidden;
    }
    #nav-contact{
        display: flex;
    }

    /* section hero */

    .heroSection{
        height:fit-content;
        min-height: none;
        margin-top: 0px;
    }
    .container-heroSection{
        flex-direction: column;
    }
    .heroSection-content{
        align-items: center;
        text-align: center;
        width: 90%;
        height: 322px;
    }
    .heroSection-image{
        margin-top: 80px;
        min-height: 600px;
        width: 100%;
        max-width: 700px;
    }
    .imagen-chico{
        width: 80%;
    }

    /* section clients */
    .clientSection{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .clientSection > div {
        width: 30%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* section proyects and services */

    .container-cards{
        margin-top: 60px;
    }
    .Section-CARDS-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container-cards > h3 {
        padding-left: 20px;
    }
    .card-1{
        width: 90%;
        height: 250px;
        display: flex;
        margin-bottom: 50px;
    }
    .card-img{
        object-fit: cover;
        width: 60%;
        height: 100%;
    }
    .card-text{
        box-sizing: border-box;
        width: 40%;
        height: 100%;
    }


    /* section testimonial */

    .testimonialSection-texto{
        width: 90%;
        height: 45%;
    }
    .testimonialSection{
        margin-top: 60px;
    }

}
 
/* Móviles o tablets en horizontal
   ------------------------------------------------------------------------- */
@media (max-width: 768px) { 


    .heroSection-image-card-1, .heroSection-image-card-2{
        visibility: hidden;
    }

    .heroSection-content{
        width: 95%;
        align-items: center;
        text-align: center;
    }
    h1{
        font-size: 40px;
    }


    /* section proyects and services */


    .card-1{
        width: 95%;
        height: 561px;
        display: flex;
        flex-direction: column;

    }
    .card-img{
        object-fit: cover;
        width: 100%;
        height: 50%;
    }
    .card-text{
        box-sizing: border-box;
        width: 100%;
        height: 50%;
    }

    /* section services */
    .Section-CARDS-2{
        flex-direction: column;
        align-items: center;
    }
    .card-2{
        width: 95%;
    }


    /* section cta */

    .ctaSection{
        padding: 40px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .div-textfield{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .input-EMAIL{
        width: 100%;
        margin-bottom: 20px;
    }
    .ctaSection > div > button{
        width: 100%
    }

    /* --- footer --- */

    .footer-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 250px;
    }
    .footer-content{
        align-items:center;
        margin-bottom: 20px;
        height: 40%;
    }
    .footer-links {
        width: 100%;
        height: 30%;
        align-items: center;
    }

 }
 
